---
import { UserSquare, Calendar } from "lucide-astro";
import Default from "./Default.astro";
import Tags from "../components/Tags.astro";
import Separator from "../components/Separator.astro";
import MarkdownArticle from "../components/MarkdownArticle.astro";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

interface Props {
  frontmatter: CollectionEntry<"blog">["data"];
}
const {
  author,
  title,
  description,
  image,
  publishDate,
  tags,
  isDraft,
  relatedPosts,
} = Astro.props.frontmatter;
---

<Default title={"📖 " + title} description={description} image={image}>
  <div class="metadata">
    <div class="metadata__author">
      <UserSquare class="metadata__icon" size={24} />
      {author}
    </div>
    <div class="metadata__date">
      <Calendar class="metadata__icon" size={24} />
      <time class="metadata__time" datetime={publishDate.toISOString()}>
        {publishDate.toDateString()}
      </time>
    </div>
  </div>
  <div class="metadata__tags">
    <Tags tags={tags} />
  </div>
  <Image
    src={image.src}
    width={image.width}
    height={image.height}
    alt={image.alt}
    loading="eager"
  />
  <Separator />
  <MarkdownArticle>
    <slot />
  </MarkdownArticle>
  <Separator />
</Default>

<style lang="scss">
  .metadata {
    display: inline-flex;
    gap: 1em;
    text-align: center;
    margin-bottom: 1em;
    color: rgb(112, 112, 112);
    & div {
      display: flex;
      gap: 5px;
    }

    & * {
      font: {
        size: 1.1em;
      }
    }
    &__tags {
      margin: 1em 0;
    }
  }
  img {
    margin-inline: auto;
  }
</style>
