---
import Icon from "astro-iconify";
import Default from "./Default.astro";
import Tags from "../components/Tags.astro";
import Separator from "../components/Separator.astro";
import MarkdownArticle from "../components/MarkdownArticle.astro";
const { frontmatter } = Astro.props;
---

<Default
  title={"📖 " + frontmatter.title}
  description={frontmatter.description}
  {frontmatter}
  image={frontmatter.image}
>
  <div class="metadata">
    <div class="metadata__author">
      <Icon
        class="metadata__icon"
        name="material-symbols:person-rounded"
        size={24}
      />
      {frontmatter.author}
    </div>
    <Icon name="mdi:star-four-points-small" size={24} />
    <div class="metadata__date">
      <Icon
        class="metadata__icon"
        name="material-symbols:calendar-today"
        size={24}
      />
      <time class="metadata__time" datetime={frontmatter.date}>
        {new Date(frontmatter.pubDate).toDateString()}
      </time>
    </div>
  </div>
  <div class="metadata__tags">
    <Tags tags={frontmatter.tags} />
  </div>
  <img
    src={frontmatter.image.url}
    width="100%"
    alt={frontmatter.image.alt}
    loading="eager"
  />
  <Separator />
  <MarkdownArticle>
    <slot />
  </MarkdownArticle>
</Default>

<style lang="scss">
  .metadata {
    display: inline-flex;
    text-align: center;
    margin-bottom: 1em;
    color: rgb(112, 112, 112);
    & div {
      display: flex;
      gap: 5px;
    }

    & * {
      font: {
        size: 1.1em;
      }
    }
    &__tags {
      margin: 1em 0;
    }
  }
  img {
    margin-inline: auto;
  }
</style>
