---
import Default from "./Default.astro";
import Tags from "../components/Tags.astro";
const { frontmatter } = Astro.props;
---

<Default pageTitle={'📖 ' + frontmatter.title}>
  <p>{frontmatter.pubDate.slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Author: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="tags">
    <Tags tags={frontmatter.tags} />
  </div>
  <slot />
</Default>

<style lang="scss">
  .tags {
    margin: 2em 0;
  }
</style>
